// Place all the styles related to the color controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#colors {
	> .body  {
		display: flex;
		flex-wrap: wrap;
		.pin.color {
			width: calc(1920px / 4);
			height: calc(1080px / 4);
			.dash {
				padding: 0;
				transform: scale(0.5);
				transform-origin: 0 0;
				width: 200%;
				height: 200%;
			}
		}
	}
}
