.dash {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	.cell {
		width: 50%;
		height: 50%;
		.pin {
			height: calc(200% - 60px);
			width: calc(200% - 60px);
			transform: scale(0.5);
			transform-origin: 0 0;
		}
	}
}
