#spotify {
	display: flex;
	flex-direction: column;
	> .head {
		display: flex;
		img {
			height: 26px;
		}
		input {
			margin-left: auto;
			background: #111;
			border: 0;
			padding: 2px;
			text-indent: 4px;
			color: #fff;
		}
	}
	> .body {
		display: flex;
		padding: 10px;
		flex-grow: 1;
		#bar {
			padding: 10px;
			img {
				height: 200px;
			}
		}
		#tracks {
			height: 200px;
			flex-grow: 1;
			overflow-y: scroll;
			h4, li {
				padding: 10px;
			}
			h4 {
				color: #6AE368;
			}
			li {
				font-size: 12px;
				&.active {
					color: #6AE368;
				}
			}
		}
	}
	#album {
		display: flex;
		padding: 10px;
		img {
			height: 60px;
			margin: 10px;
		}
	}
}
