!!! XML
%svg#box{:baseprofile => "tiny", :height => "100", :space => "preserve", :style => "\r\n\ttransform: rotateX(27deg) scale(0.6);\r\n\tfill: #5dc21e;\r\n\t", :version => "1.2", :viewbox => "0 0 177.591 43.966", "viewport-fill" => "#000", :width => "100", :xmlns => "http://www.w3.org/2000/svg"}
  %path{:d => "\r\n\t\tM 0,0\r\n\t\tL 50,37\r\n\t\tL 100,0\r\n\t\tL 63,50\r\n\t\tL 100,100\r\n\t\tL 50,63\r\n\t\tL 0,100\r\n\t\tL 37,50\r\n\t\tZ\r\n\t\t"}
