.pin#netflix
  .head
    %h3 Netflix

  .body
    .head
      %h4
        Star Wars: The Force Awakens

    .body
      #poster
        = image_tag('netflix/star_wars_the_force_awakens.png')

      #theatre
        #vid
          = image_tag('netflix/frame.png')

          = fa_icon "play"

        #ctrl
          %div
            %span 0:11:02

          #prog
            #cur

          %div
            %span 2:16:32

  #info
    %h5
      %span 2015

    %h5#rottenTomatoes
      Rotten Tomatoes:
      %span 92%

    %h5#metacritic
      Metacritic
      %span 81


-#     .cat
-#       = image_tag('netflix/futurama.png')
