.pin#netflix
  .head
    %h3 Netflix

  .body
    .head
      %h4
        Star Wars: The Force Awakens

    .body
      #disp
        = image_tag('netflix/star_wars_the_force_awakens.png')
        = image_tag('netflix/frame.png')

      %div
        %h5
          Rotten Tomatoes:
          %span 92%

        %h5
          Metacritic
          %span 81

        %h5
          %span 2015
