.pin#photos
  .head
    %h3 Photos

  .body
    - 12.times do
      - orient = [true, false].sample

      - if orient
        = image_tag('photos/landscape.png')

      - else
        = image_tag('photos/portrait.png')
