.pin#spotify
  .head
    %h3 Spotify
    -# %input{:type => ""}

  .body
    #bar
      = image_tag("album/1.png")

    #tracks
      .head
        %h4.active Skream - Outside the Box

      .body
        %li Perferated
        %li 8 Bit Baby
        %li CPU	
        %li.active Where You Should Be	
        %li How Real	
        %li Fields Of Emotion	
        %li I Love The Way	
        %li Listenin' To The Records On My Wall	
        %li Wibbler	
        %li Metamorphosis	
        %li Finally	
        %li Reflections	
        %li A Song For Lenny	
        %li The Epic Last Song

  #ctrl
    %div
      %span 1:16

    #timeLine
      #current

    %div
      %span 3:12
